.container {
    background-color: #252B2B;
    height: 12%; 
    width: 100%; 
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding: 0.0.0.0.0.0.1rem; 
}

.img {
    width: 10vw; 
    height: 20vh; 
    margin-right: 0; 
}

.menu {
    background-color: #252B2B;
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.text_container p {
    margin-left: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.text_container {
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
        width: 100%;
    }

    .img {
        width: 15vw; 
        height: 10vh; 
        margin-right: 0;
    }

    .menu {
        width: 97%; /* Ocupa a largura total */
        justify-content: space-between; /* Espaço entre os itens */
        padding: 10px; /* Adiciona preenchimento interno */
    }

    .text_container {
        margin-left: 10px; /* Adiciona espaço à esquerda */
    }

    .text_container p {
        margin: 0; /* Remove margens */
        font-size: small;
    }
}