.container{
    background-color:#252B2B;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.img{
    width: 10vw;
    height: 20vh;
    margin-left: 2rem;
}