.contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto; /* Ajustado para se adaptar ao conteúdo */
    margin: 5%; /* Unificado para margem */
}

.h1 {
    font-size: 3rem; /* Tamanho do cabeçalho */
    margin-top: 5%; /* Margem no topo */
    text-align: center; /* Centraliza o texto */
}

.p1 {
    margin-top: 5%; /* Margem no topo */
    text-align: center; /* Centraliza o texto */
    font-size: 2rem; /* Tamanho do texto */
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto; /* Ajustado para se adaptar ao conteúdo */
    margin-top: -16%; /* Ajustar se necessário */
    margin: 5%; /* Unificado para margem */
}

/* Ajustes responsivos */
@media (max-width: 480px) { /* Ajuste para smartphones */
    .h1 {
        font-size: 1.3rem; /* Tamanho menor para cabeçalho */
        margin-top: 15%; 
    }

    .p1 {
        font-size: 1rem; /* Tamanho ajustado para parágrafo */
        margin-top: 15%; 
    }

    .card, .cards {
        margin: 1rem; /* Reduzir margem em telas pequenas */
        margin-top: 15%;
    }

    .contant {
        height: auto; /* Ajuste para caber melhor em telas pequenas */
        margin-left: 5%;
        margin-right: 5%;
    }
}

.ferramentasGrid {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
}

.ferramentasGrid > * {
    flex: 1 1 calc(25% - 16px); 
    max-width: calc(25% - 16px); 
}