/* Estilo do container da lista */
.listContainer {
    padding: 20px;
    /* Espaçamento interno */
    background-color: #f9f9f9;
    /* Cor de fundo */
}

/* Estilo de cada item da lista */
.listItem {
    display: flex;
    /* Flex para alinhar o conteúdo */
    justify-content: center;
    /* Centraliza o conteúdo */
}

/* Estilo do Card */
.card {
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para o card */
    transition: transform 0.3s;
    /* Transição suave para animação */
    margin-top: 30px;
}

/* Efeito de hover para o Card */
.card:hover {
    transform: translateY(-5px);
    /* Levanta o card ao passar o mouse */
}

/* Estilo do título do Card */
.cardTitle {
    font-size: 18px;
    /* Tamanho da fonte do título */
    font-weight: bold;
    /* Negrito para destaque */
    color: #fff;
    /* Cor do texto */
}

/* Estilo do fundo dos cards */
.card {
    background-color: #6E0000;
    /* Cor de fundo do card */

}

.title1 {
    color: #fff;
}