
.menu {
    background-color: #252B2B;  
    top: 0; 
    width: 20%; 
    display: flex; 
    margin-left: 0;
    justify-content: flex-start;
   
}

.container p {
    display:flex;
    margin-left: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}

.container  {
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    @media (max-width: 480px) {
        .menu {
            flex-direction: row;
            /*align-items: flex-start;*/
            align-items: start;
            padding-right: 0;
            margin-left: 0%;
            margin-right: 0;
        }
        .container {
            margin-left: 0;
            margin-right: 0%;
        }
    
        .container p {
            margin-right: 0%;
            margin-left: 1rem; 
            text-align: center;
            font-size: small;
        }
    }
