.input {
    width: 60vw;
    background-color: rgb(156, 0, 0);
    color: rgb(0, 0, 0);
    border: 2px ; /* Borda vermelha */
    border-radius: 50px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
    max-width: 50%;
    align-items: center;
    margin: -1rem auto;
    padding: 1rem;
    align-items: center;
    margin-left: 16rem;
        }

.title{
    font-size: 15px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

#placeholder{
    color: rgb(255, 255, 255);
}