/* cardferr.module.css */
.card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: hidden;
    background-color: rgb(94, 91, 91);
}

.card:hover {
    transform: scale(1.02);
}
.text{
    color: #f0ffff;
}
.p{
    font-family: 'Poppins', sans-serif;
}
/* A imagem ocupa 50% da altura do card, cobrindo a metade superior */
.cardImage {
    width: 100%;
    height: 50%; /* A altura da imagem vai cobrir metade do card */
    object-fit: cover; /* A imagem cobrirá a área sem distorcer, mas pode ser cortada */
    margin: 0; /* Garantir que não há margens */
    padding: 0; /* Garantir que não há preenchimento */
}

.cardActions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cardAction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(255, 255, 255);
}


.available {
    background-color: green;
}

.unavailable {
    background-color: red;
}

.maintenance {
    color: rgb(228, 228, 0);
}