/* Estilo do container da lista */
.listContainer {
    padding: 20px;
    /* Espaçamento interno */
    background-color: #f9f9f9;
    /* Cor de fundo */
}

/* Estilo de cada item da lista */
.listItem {
    display: flex;
    /* Flex para alinhar o conteúdo */
    justify-content: center;
    /* Centraliza o conteúdo */
}

/* Estilo do Card */
.card {
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para o card */
    transition: transform 0.3s;
    /* Transição suave para animação */
    margin-top: 30px;
}

/* Efeito de hover para o Card */
.card:hover {
    transform: translateY(-10px);
    /* Levanta o card ao passar o mouse */
}

/* Estilo do título do Card */
.cardTitle {
    font-size: 18px;
    /* Tamanho da fonte do título */
    font-weight: bold;
    /* Negrito para destaque */
    color: #fff;
    /* Cor do texto */
}

/* Estilo do fundo dos cards */
.card {
    background-color: #6E0000;
    /* Cor de fundo do card */

}

.title1 {
    color: #fff;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Adiciona um cursor pointer para indicar que é clicável */
}

.cardImage {
    width: 90px; /* Ajusta a largura da imagem para caber no card */
    height: 90px;
    margin-top: 20px; /* Mantém a proporção da imagem */
    border-radius: 8px 8px 0 0; /* Arredonda o topo da imagem */
}

.title1 {
    margin-top: 10px; /* Adiciona um espaço acima do título */
    font-size: 16px; /* Ajusta o tamanho do texto */
}