.login-container {
    background-color: white;
  }
  
  .login-title {
    color: black;
    font-size: 24px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .label {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .input {
    background-color: #6E0000;
    color: white;
    font-size: 18px;
    padding: 10px;
  }
  
  .submit-button {
    background-color: #6E0000;
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
  }