.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.input_container {
    margin-top: 3rem;
}

.input {
    width: 60vw;
    background-color: rgb(156, 0, 0);
    color: rgb(0, 0, 0);
    border: 2px ; /* Borda vermelha */
    border-radius: 50px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
 
    max-width: 21%;
    align-items: center;
    margin: -1rem auto;
    padding: 1rem;
    align-items: center;
    margin-left: 48rem;
    margin-top: 0.5rem;
    justify-content: center;
        }

.title{
    font-size: 19px;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-left: -19rem;
    color: rgb(255, 255, 255);
}

.input::placeholder {
    color: rgb(255, 255, 255); /* Altere para a cor desejada */
}

.select {
    width: 60vw;
    background-color: rgb(156, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s;
    max-width: 50%;
    margin: -1rem auto;
    padding: 1rem;
    margin-left: 16rem;
    margin-top: 0.5rem;
}

.select option {
    background-color: rgb(156, 0, 0);
    color: rgb(255, 255, 255);
}

.btn_cadastro {
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
    border: 2px ; /* Borda vermelha */
    border-radius: 1rem; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
    max-width: 50%;
    align-items: center;
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    margin-left: 2rem;
    height: 1rem;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn_cadastro:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(156, 0, 0);
    border: 2px ; /* Borda vermelha */
    border-radius: 50px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
}

.required {
    border: 2px solid red; /* Por exemplo, uma borda vermelha */
  }

  .img_login{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
    margin-top: -2rem;
  }

  .text1{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    margin-bottom: 5px;
    margin-top: 3rem;
    margin-left: 1rem;
    align-items: center;
    text-align: center;

  }

  .conainer_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 6rem;
  }
