.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.tudinho{
    position: fixed;
}
.title1{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: -0.6rem;
    font-size: 1rem;
}
.login{
        color: aliceblue;
}
.link{
    color: rgb(230, 157, 157);
}


.input {
    width: 33vw;
    height: 1rem;
    background-color: rgb(156, 0, 0);
    color: rgb(0, 0, 0);
    border: 2px ; /* Borda vermelha */
    border-radius: 50px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    max-width: 21%;
    align-items: center;
    margin: -1rem auto;
    padding: 0.8rem;
    align-items: center;
    margin-left: 24rem;
    margin-top: 0.5rem;
    justify-content: center;
        }

.title{
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-left: -12rem;
    color: rgb(255, 255, 255);
    margin-top: 2.5rem;
    margin-bottom: -2rem;
}

.input::placeholder {
    color: rgb(255, 255, 255); /* Altere para a cor desejada */
}

.select {
    width: 60vw;
    background-color: rgb(156, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s;
    max-width: 50%;
    margin: -1rem auto;
    padding: 1rem;
    margin-left: 16rem;
    margin-top: 0.5rem;
}

.select option {
    background-color: rgb(156, 0, 0);
    color: rgb(255, 255, 255);
}

.btn_cadastro {
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
    border: 6rem ; /* Borda vermelha */
    border-radius: 1rem; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
    max-width: 50%;
    align-items: center;
    height: 1rem;
    margin-top: -4rem;
    margin-bottom: 0.7rem;
    padding: 1rem;
    margin-left: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn_cadastro:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(156, 0, 0);
    border: 2px ; /* Borda vermelha */
    border-radius: 50px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
}

.required {
    border: 2px solid red; /* Por exemplo, uma borda vermelha */
  }

  .img_login{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
    margin-top: -2rem;
  }

  .text1{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    margin-bottom: 5px;
    margin-top: -2rem;
    margin-left: 1rem;
    align-items: center;
    text-align: center;

  }

  .conainer_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 6rem;
  }
.label{
    margin-top: -5rem;
}
.input_container{
    margin-top: -1rem;
}