.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.input_container {
    margin-top: 3rem;
}

.input {
    width: 60vw;
    background-color: rgb(156, 0, 0);
    color: rgb(0, 0, 0);
    border: 2px ; /* Borda vermelha */
    border-radius: 50px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
    max-width: 50%;
    align-items: center;
    margin: -1rem auto;
    padding: 1rem;
    align-items: center;
    margin-left: 16rem;
    margin-top: 0.5rem;
        }

.title{
    font-size: 15px;
    max-width: 40.35vw;
    margin: 1.25px auto;
    padding: 1.25rem;
}

.input::placeholder {
    color: rgb(255, 255, 255); /* Altere para a cor desejada */
}

.select {
    width: 60vw;
    background-color: rgb(156, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid transparent; /* Ajuste a borda se necessário */
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s;
    max-width: 50%;
    margin: -1rem auto;
    padding: 1rem;
    margin-left: 16rem;
    margin-top: 0.5rem;
}

.select option {
    background-color: rgb(156, 0, 0);
    color: rgb(255, 255, 255);
}

.btn_cadastro {
    background-color: rgb(156, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px ; /* Borda vermelha */
    border-radius: 50px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
    max-width: 50%;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.btn_cadastro:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(156, 0, 0);
    border: 2px ; /* Borda vermelha */
    border-radius: 50px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
}

.required {
    border: 2px solid red; /* Por exemplo, uma borda vermelha */
  }