.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo para contraste */
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;

    
}

.h1 {
    text-align: center;
    color: #333;
}

.label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid red; /* Borda vermelha */
    border-radius: 5px; /* Arredondamento */
    outline: none; /* Remove a borda de foco padrão */
    transition: border-color 0.3s; 
        }