.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    

}
.h1 {
    font-size: 1.5rem;
    /* Tamanho do cabeçalho */
    margin-top: 5%;
    /* Margem no topo */
    text-align: center;
    /* Centraliza o texto */
    font-family: 'Poppins', sans-serif;
}
.h2Container {
    display: flex;
    flex-direction: column; /* Mudança para coluna para cada título e suas informações */
    margin-top: 5%;
}

.h2 {
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 10px 0; /* Margem ajustada para melhor espaçamento */
    padding: 10px;
    transition: background-color 0.3s;
    background-color: #6E0000;
    border-radius: 5px;
}

.h2:hover {
    
    border-radius: 5px;
}

.localsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.mapItem {
    
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    max-width: 400px;
    transition: box-shadow 0.3s;
}
.selectContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.selectedCarrinho {
    margin-top: 5px;
    font-size: 1rem;
    color: #333;
}
.mapItem:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mapText {
    margin: 5px 0;
    cursor: pointer;
    color: #0070f3; /* Cor para itens clicáveis */
}

.mapImage {
    width: 150px; /* Largura consistente para imagens */
    height: 150px; /* Altura consistente para imagens */
    margin-top: 5px;
}

@media (max-width: 768px) {
    .h2 {
        font-size: 1.2rem;
        padding: 8px;
    }

    .mapItem {
        width: 95%;
    }
}
