/* App.css */

.App {
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
             /* Usa toda a altura da tela */
}
.Container {
    display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  height: 100vh;   
  background-color: red;
}

.dropdown_link {
  font-size: 24px;          /* Aumenta o tamanho do texto */
  /* color: red;               Define a cor do texto como vermelho */
  text-decoration: none;    /* Remove o sublinhado do link */
}

.dropdown_link:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}